@using Univibe_Web.Models.Timetable
@using Univibe_Web.Data

@{
    ViewBag.CurrentWeekday = "";
    bool hasTop = false;
    bool hasBot = false;
}

<section class="schedule_table vertical_header_offset" >
    <div class="container">
        <div class="row">
            <table class="col-md-12">
            @for (int i = 0; i < ViewBag.Timetable.Count; ++i)
            {
                var item = ViewBag.Timetable[i];
                if (ViewBag.CurrentWeekday != item.Weekday)
                {
                    ViewBag.CurrentWeekday = item.Weekday;
                    int span = ViewBag.WeekdaysRowSpan[item.Weekday];
                    <tr><td valign="top" align="left" rowspan="@(span)">@item.Weekday</td></tr>
                }
                else
                {
                    if (item.Parity == 2)
                    {   
                        <tr><td align="right">@item.Subject</td><td align="right">@item.Teacher</td></tr>
                    }
                    else
                    {
                        @if (item.Parity == 1)
                        {
                            if (i + 1 < ViewBag.Timetable.Count && ViewBag.Timetable[i + 1].Numb == item.Numb && ViewBag.Timetable[i + 1].Weekday == ViewBag.CurrentWeekday)
                            {
                                <tr><td align="right">@item.Subject</td><td align="right">@item.Teacher</td></tr>
                                <tr><td align="right">ViewBag.Timetable[i + 1].Subject</td><td align="right">ViewBag.Timetable[i + 1]Teacher</td></tr>
                                i+= 2;
                            }
                            else
                                {
                                    <tr><td align="right">@item.Subject</td><td align="right">@item.Teacher</td></tr>
                                    <tr><td align="right"></td> <td align="right"></td></tr>
                                }
                        }
                        else
                        {
                            <tr><td align="right"></td> <td align="right"></td></tr>
                            <tr><td align="right">@item.Subject</td><td align="right">@item.Teacher</td></tr>
                        }
                    }
                }
            }
            </table>
        </div>
    </div>
</section>